.container{
    display: grid;
    grid-template-columns: 75px 75px 75px;
    margin-top: 200px;
    margin-left: 100px;
}

.cell{
    border: 2px solid black;
    height: 75px;
    width: 75px;
    
}